
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="col-md-3">
        <iframe class="emdebyoutube" src="https://www.youtube.com/embed/OUbiVivIh0A" allowfullscreen frameborder="0">
        </iframe>
        <div class="list-group">
            <a class="list-group-item list-group-item-action disabled">
                Politikalarımız
            </a>
            <a asp-controller="kurumsal" asp-action="CevrePolitikasi" class="list-group-item list-group-item-action">Çevre Politikası</a>
            <a asp-controller="kurumsal" asp-action="UrunGuvenligi" class="list-group-item list-group-item-action">Ürün Güvenliği Politikası</a>
            <a asp-controller="kurumsal" asp-action="KurumsalPolitika" class="list-group-item list-group-item-action">Kurumsal Politika</a>
            <a asp-controller="kurumsal" asp-action="IsgPolitikasi" class="list-group-item list-group-item-action">İSG Politikası</a>
            <a asp-controller="kurumsal" asp-action="BasindaBiz" class="list-group-item list-group-item-action active">Basında Biz</a>
        </div>

    </div>
