
@{
    Layout = null;
}





<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>404 | Işık Plastik</title>

    

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/css/404style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

    <div id="notfound">
        <div class="notfound-bg"></div>
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2>Özür dileriz, aradığınız sayfayı bulamadık.</h2>
            <a href="/" class="home-btn">Anasayfaya git</a>
            <a href="/iletisim" class="contact-btn">İletişim</a>
            <div class="notfound-social">
                <a href="https://www.facebook.com/IsikPlastik"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="https://twitter.com/isikplastikas"><i class="fa fa-twitter fa-lg"></i></a>
               
                <a href="https://www.instagram.com/isikplastikas/"><i class="fa fa-instagram fa-lg"></i></a>
                <a href="https://tr.linkedin.com/company/i%C5%9F%C4%B1k-plastik-a-%C5%9F"><i class="fa fa-linkedin fa-lg"></i></a>
                <a href="https://www.youtube.com/channel/UC7vzpMQpOVI_bPKyz9cJyvg"><i class="fa fa-youtube fa-lg"></i></a>
            </div>
        </div>
    </div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
